<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Saláty</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/css/main.css?{time()}">
    <link rel="stylesheet" href="{$basePath}/css/lightslider.min.css?{time()}">
</head>

<body data-spy="scroll" data-target="#categories" data-offset="75">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="top-menu">
    <a class="navbar-brand mr-auto" href="{plink Homepage:default}">
        DAMESALAT.CZ
    </a>

    <ul class="navbar-nav justify-content-end mr30">
        <li class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Homepage:offers') ? active" href="{plink Homepage:offers}">NABÍDKA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{plink Homepage:default}">KONTAKTY</a>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Homepage:offers') ? active" href="{plink Homepage:offers}">Přihlášení</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{plink Homepage:default}">Registrace</a>
        </li>
    </ul>
</nav>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
<div id="content">
    {include content}
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Kontakt:</h2>
                <p>
                    T: <a href="tel:+420111222333">+420 111 222 333</a><br/>
                    E: <a href="mailto:kontakt@damesalat.cz">kontakt@damesalat.cz</a>
                </p>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</footer>

{block scripts}
    <script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>
