<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Saláty</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/css/main.css?{time()}">
    <link rel="stylesheet" href="{$basePath}/css/lightslider.min.css?{time()}">
</head>

<body data-spy="scroll" data-target="#categories" data-offset="75">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="top-menu">
    <a class="navbar-brand mr-auto" href="{plink Homepage:default}">
        <img src="/images/logo_192.png" class="img-responsive">
    </a>

    <ul class="navbar-nav justify-content-end mr50">
        <li class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Homepage:offers') ? active" href="{plink Homepage:offers}">NABÍDKA</a>
        </li>
        {*<li class="nav-item">
            <a class="nav-link" href="{plink Homepage:default}">KONTAKTY</a>
        </li>*}
    </ul>
    <ul class="navbar-nav justify-content-end">
        <li n:if="!$user->isLoggedIn()" class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Sign:in') ? active" href="{plink Sign:in}">Přihlášení</a>
        </li>
        <li n:if="!$user->isLoggedIn()" class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Sign:up') ? active" href="{plink Sign:up}">Registrace</a>
        </li>
        <li n:if="$user->isLoggedIn()" class="nav-item">
            <a n:class="nav-link, $presenter->isLinkCurrent('Sign:profile') ? active" href="{plink Sign:profile}">Můj
                účet</a>
        </li>
        <li n:if="$user->isLoggedIn()" class="nav-item">
            <a class="nav-link" href="{plink Sign:out}">Odhlášení</a>
        </li>
    </ul>
</nav>
<div id="content">
    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type, alert-dismissible">{$flash->message}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {include content}
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Kontakt:</h2>
                <p>
                    T: <a href="tel:+420111222333">+420 111 222 333</a><br/>
                    E: <a href="mailto:kontakt@salatyobe.cz">kontakt@salatyobe.cz</a>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <p><a href="https://facebook.com" target="_blank"><span
                                class="fa fa-facebook-official fa-2x"></span></a></p>
                <img src="/images/logo_192.png" class="img-responsive">
            </div>
            <div class="col-sm-4 text-right">
                <p data-html="true" title="Seznam potravinových alergenů. které se mohou nacházet v našich výrobcích, a které podléhají legislativnímu označování dle směrnice 1169/EU:
<br/>1) Obiloviny, <br/>2) Korýši a výrobky z nich, <br/>3) Vejce a výrobky z nich, <br/>4) Ryby a výrobky z nich, <br/>7) Mléko a výrobky z něj, <br/>8) Skořápkové plody a výrobky z nich, <br/>9) Celer a výrobky z něj, <br/>10) Hořčice a výrobky z ní, <br/>11) Sezamová semena a výrobky z nich
<br/><br/>Informace, které z těchto alergenů obsahuje konkrétní výrobek, lze vyžádat u prodejce." data-toggle="tooltip">
                    <span class="fa fa-info-circle"></span> Informace o alergenech</p>
                <p> © salatyobe.cz 2018</p>
            </div>
        </div>
    </div>
</footer>

{block scripts}
    <script src="{$basePath}/js/main.js?{time()}"></script>
{/block}
</body>
</html>
