.btn-primary{
  color:#fff;
  background:$green;
  border-color: $green;
  &:hover, &:focus, &:active{
    background: $lighter-green;
    border-color: $lighter-green;
  }
}
.order-product{
  color: #fff !important;
}