.btn-primary{
  color:#fff;
  background:$green;
  border-color: $green;
  &:hover, &:focus, &:active{
    background: $lighter-green;
    border-color: $lighter-green;
    color: #fff;
  }
}
.order-product{
  color: #fff !important;
  position: absolute;
  left:30%;
  right:30%;
  bottom: 10px;
  min-width:90px;
}