.cart {
  margin-top: 15px;
  padding-left: 15px;
  display: inline-block;
  position: fixed;
  right: 15px;
  width: 330px;
  .cart-body {
    max-height: 342px;
    overflow: auto;
  }
  @media (max-width: 767px) {
    width: auto;
  }

}