@import "bootstrap";
@import "variables";
@import "top-menu";
@import "footer";
@import "products";
@import "alert";
@import "form";
@import "cart";
@import "buttons";
@import "fontawesome/font-awesome";

/************  GENERAL CLASSES  *************/
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px;
}

.p30 {
  padding: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: -30px;
}

.mr30 {
  margin-right: 30px;
}

.mr50 {
  margin-right: 50px;
}

.bg-white {
  background: #fff;
}

h1 {
  color: $dark-grey;
}

.parallax {
  /* The image used */
  background-image: url("http://kfc.cz/assets/uploads/salatka_brazer-caesar-1920x440.jpg");

  min-height: 380px;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  margin-top: 58px;
}

//lightslider controls
.lSAction > a {
  background-image: none !important;
}

.ls-caption {
  position: absolute;
  bottom: 0;
  left: calc(50% - 96px);
}



.navbar-nav {
  flex-direction: row;
  .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}