#top-menu {
  background: $dark-grey;
  z-index: 1060;
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #fff;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;
        border-bottom: 2px solid $dark-grey;
        &:hover {
          color: #ddd;
        }
        &.active {
          border-bottom: 2px solid #fff;
        }
        @media (max-width: 600px) {
          padding-right: 4px;
          padding-left: 4px;
          font-size: 14px;
        }
      }

    }
  }
}

@media(max-width: 991px) {
  #top-menu {
    border-bottom: 1px solid $grey;
    .navbar-nav {
      display: block;
      .nav-item {
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}