<div class="nav flex-column nav-pills" id="admin-menu" role="tablist" aria-orientation="vertical">
    <a n:class="nav-link, $presenter->isLinkCurrent('Admin:ingredient') ? active" id="ingredients-tab" href="{plink Admin:ingredient}" role="tab">Ingredience</a>
    <a n:class="nav-link, $presenter->isLinkCurrent('Admin:product') ? active" id="products-tab" href="{plink Admin:product}" role="tab">Produkty</a>
    <a n:class="nav-link, $presenter->isLinkCurrent('Admin:category') ? active" id="category-tab" href="{plink Admin:category}" role="tab">Kategorie
        produktů</a>
</div>