{block content}
    <div class="container pt30">
        <h1>Seznam objednávek</h1>
        <a href="{plink Admin:users, userId => null}" class="btn btn-primary mb15">Zpět</a>
        <p n:if="empty($orders)">Uživatel nemá žádné objednávky.</p>

        <table class="table table-responsive-sm" n:foreach="$orders as $date => $order">
            <thead class="thead-dark">
            <tr>
                <th colspan="4">{date('d. m. Y',strtotime($date))}</th>
            </tr>
            </thead>
            <tbody>

            <tr n:foreach="$order as $product">
                <th style="width:60%;">{$product['name']}</th>
                <td>x{$product['quantity']}</td>
                <td>{$product['price']*$product['quantity']}&nbsp;Kč</td>
            </tr>
            </tbody>
        </table>
    </div>
{/block}