<div>
    <p>Dobrý den, <br><br>k Vašemu účtu bylo vygenerováno nové heslo.</p>
    <table>
        <tbody>
        <tr>
            <th style="text-align: left; padding: 5px;">Nové heslo:</th>
            <td>{$password}</td>
        </tr>
        </tbody>
    </table>
    <p>Své heslo si můžete změnit po přihlášení v sekci <a href="{$link}">můj účet</a>.</p>
</div>