parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

# Nastavení výchozích chybových hlášek pro formuláře.
forms:
	messages:
		REQUIRED: 'Toto pole je povinné.'
		EMAIL: 'Zadejte platný email.'


session:
	expiration: 14 days
	savePath: "%tempDir%/session"

services:
	router: App\RouterFactory::createRouter

	- App\Model\UserManager
	- App\Model\UserModel
	- App\Model\ProductModel
	- App\Model\CartModel
	- App\Model\OrderModel
	- App\Model\IngredientModel
	- App\Model\CategoryModel
	- App\Forms\UserFormFactory
	- App\Forms\CartFormFactory
	- App\Forms\AdminFormFactory
